       <% provide(:title, @user.name) %>
        <div class="row">
          <aside class="col-md-4">
            <section class="user_info">
              <h1>

                <%= @user.name %>
              </h1>
            </section>
          </aside>
        </div>

<% if @user.events.any? %>
    <h3>Submitted (<%= @user.events.count %>) events</h3>
    <ul class="media-list">
      <%= render @events %>
    </ul>
    <%= will_paginate @events %>
  <% else %>
    <h3>No Events Found</h3>
  <% end %>
  
  
  <h2>Upcoming Events</h2> 
  <ul class="media-list">
    
  </ul>

  <h2>No Upcoming Events</h2>

