<h3>User Info</h3>
<p>
 Name: <%= @user.name %>
</p>
<p>
 Email: <%=@user.email%>
</p>
<ul>
 <li>
  <%= link_to "Edit Your Profile",edit_user_path%>
 </li>
 <li>
  <%= link_to "All Members",users_path%>
 </li>
</ul>


