
<% if @event.attendees.any? %>
    <% @event.attendees.each do |attendee| %>
        <span class="attendee">
            <%= attendee.username %>
        </span> <br/>
    <% end %>
<% else %>
    No attendees
<% end %><br/>