
        <footer class="navbar fixed-bottom navbar-light col-md-12">
            <ul class="nav">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class: "nav-link" %>
                </li>
            </ul>
        </footer>