<footer>
<div class="container">
<div class="row">
  <div class="col-sm-3 bord">
  
  <ul>
  <h5>Use Eventbrite</h5>
  <li><a href="#">How It Works</a></li><br>
  <li><a href="#">For Large & Complex Events</a></li><br>
  <li><a href="#">Pricing</a></li><br>
  <li><a href="#">Content Standards</a></li><br>
  <li><a href="#">Eventbrite Mobile App</a></li><br>
  <li><a href="#">Eventbrite Check-In App</a></li><br>
  <li><a href="#">Eventbrite App Marketplace</a></li><br>
  <li><a href="#">Rally - Fun Things To Do</a></li><br>
  <li><a href="#">FAQs</a></li><br>
  <li><a href="#">Sitemap</a></li><br>
  </ul>
  </div>
  <div class="col-sm-3 bord">
  
  <ul>
  <h5>Plan Events</h5>
  <li><a href="#">Conference Management Software</a></li><br>
  <li><a href="#">Eventbrite + Yoga</a></li><br>
  <li><a href="#">Nonprofits & Fundraisers</a></li><br>
  <li><a href="#">Sell Tickets</a></li><br>
  <li><a href="#">Event Management & Planning</a></li><br>
  <li><a href="#">Online Event Registration</a></li><br>
  <li><a href="#">Online RSVP</a></li><br>
  <li><a href="#">Music Venues & Promoters</a></li><br>
  <li><a href="#">Grow Your Small Business</a></li><br>
  <li><a href="#">How to List Your Event for Free</a></li><br>
  </ul>
  </div>
  <div class="col-sm-3 bord">
  
  <ul>
  <h5>Find Events</h5>
  <li><a href="#">Boston Events</a></li><br>
  <li><a href="#">Chicago Events</a></li><br>
  <li><a href="#">Denver Events</a></li><br>
  <li><a href="#">Houston Events</a></li><br>
  <li><a href="#">Los Angeles Events</a></li><br>
  <li><a href="#">Philadelphia Events</a></li><br>
  <li><a href="#">New York Events</a></li><br>
  <li><a href="#">Online Events</a></li><br>
  <li><a href="#">San Francisco Events</a></li><br>
  <li><a href="#">All Cities</a></li><br>
  </ul>
  </div>
  <div class="col-sm-3 bord">
  
  <ul>
  <h5>Connect With Us</h5>
  <li><a href="#">Contact Support</a></li><br>
  <li><a href="#">Twitter</a></li><br>
  <li><a href="#">Facebook</a></li><br>
  <li><a href="#">LinkedIn</a></li><br>
  <li><a href="#">Instagram</a></li><br>

  </ul>
  </div>
</div>
</div>
</footer>