<footer>
<div class="container">
<div class="row">
  <div class="col-sm-3 bord">
  <ul>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  </ul>
  </div>
  <div class="col-sm-3 bord"><ul>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  </ul>
  </div>
  <div class="col-sm-3 bord"><ul>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  </ul>
  </div>
  <div class="col-sm-3 bord"><ul>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  <li><a href="#">Lorem</a></li><br>
  </ul>
  </div>
</div>
</div>
</footer>